<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>稿件列表1稿件列表1稿件列表1稿件列表1</string>
		<key>type</key>
		<integer>0</integer>
		<key>state</key>
		<integer>0</integer>
		<key>sID</key>
		<string>012</string>
		<key>author</key>
		<string>张三</string>
		<key>enterUser</key>
		<string>testUser1</string>
		<key>department</key>
		<string>业务部</string>
		<key>timeStamp</key>
		<string>2015-10-2</string>
		<key>channel</key>
		<string>都市生活</string>
		<key>device</key>
		<string>01335654655455</string>
	</dict>
	<dict>
		<key>title</key>
		<string>稿件列表2稿件列表2稿件列表2稿件列表2</string>
		<key>type</key>
		<integer>2</integer>
		<key>state</key>
		<integer>1</integer>
		<key>sID</key>
		<string>013</string>
		<key>author</key>
		<string>李四</string>
		<key>enterUser</key>
		<string>testUser2</string>
		<key>department</key>
		<string>业务部</string>
		<key>timeStamp</key>
		<string>2015-10-6</string>
		<key>channel</key>
		<string>都市生活</string>
		<key>device</key>
		<string>156465456413654</string>
	</dict>
	<dict>
		<key>title</key>
		<string>稿件列表3稿件列表3稿件列表3稿件列表3</string>
		<key>type</key>
		<integer>1</integer>
		<key>state</key>
		<integer>0</integer>
		<key>sID</key>
		<string>013</string>
		<key>author</key>
		<string>王五</string>
		<key>enterUser</key>
		<string>testUser3</string>
		<key>department</key>
		<string>业务部</string>
		<key>timeStamp</key>
		<string>2015-10-24</string>
		<key>channel</key>
		<string>都市生活</string>
		<key>device</key>
		<string>468798443543645</string>
	</dict>
	<dict>
		<key>title</key>
		<string>稿件列表4稿件列表4稿件列表4稿件列表4</string>
		<key>type</key>
		<integer>3</integer>
		<key>state</key>
		<integer>1</integer>
		<key>sID</key>
		<string>014</string>
		<key>author</key>
		<string>赵四</string>
		<key>enterUser</key>
		<string>testUser4</string>
		<key>department</key>
		<string>业务部</string>
		<key>timeStamp</key>
		<string>2015-11-1</string>
		<key>channel</key>
		<string>都市生活</string>
		<key>device</key>
		<string>5643123135468</string>
	</dict>
	<dict>
		<key>title</key>
		<string>稿件列表5稿件列表5稿件列表5稿件列表5</string>
		<key>type</key>
		<integer>2</integer>
		<key>state</key>
		<integer>0</integer>
		<key>sID</key>
		<string>015</string>
		<key>author</key>
		<string>田七</string>
		<key>enterUser</key>
		<string>testUser5</string>
		<key>department</key>
		<string>业务部</string>
		<key>timeStamp</key>
		<string>2015-10-11</string>
		<key>channel</key>
		<string>都市生活</string>
		<key>device</key>
		<string>5649879321121545</string>
	</dict>
	<dict>
		<key>title</key>
		<string>稿件列表6稿件列表6稿件列表6稿件列表6</string>
		<key>type</key>
		<integer>0</integer>
		<key>state</key>
		<integer>1</integer>
		<key>sID</key>
		<string>016</string>
		<key>author</key>
		<string>三八</string>
		<key>enterUser</key>
		<string>testUser6</string>
		<key>department</key>
		<string>业务部</string>
		<key>timeStamp</key>
		<string>2015-10-12</string>
		<key>channel</key>
		<string>都市生活</string>
		<key>device</key>
		<string>65100325231044</string>
	</dict>
</array>
</plist>
